@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Inter', sans-serif;;
}
html{
    background-color: #FCFCFF;
    scroll-behavior: smooth;
}
span {
    font-family: inherit;
    font-weight: inherit;
}
.shadow-button{
    box-shadow: 0px 4px 0px 0px #4D4D4D; 
}